<!DOCTYPE html>
<html>
<head>
	<title>View Request</title>
</head>
<body>
<table width="80%" align="center" cellspacing="0" cellpadding="10" border="1">
    <tr>
        <td colspan="2" valign="middle" height="70">  
			<table width="100%">
                <tr>
                    <td>
                        <a href="loggedin.php" target="iFrame">
                            <img height="48" src="/resource/logo.png">
                        </a>
                    </td>
                    <td align="right">
                        Logged in as <a href="/moderatorhome" target="iFrame"><%=name%></a>&nbsp;|
                        <a href="/logout">Logout</a>
                    </td>
                </tr>
			</table>
        </td>
    </tr>
    <tr>
	<td width="190" valign="top">
			<b>&nbsp;Admin Panel</b><hr/>
            <ul>
                <li><a href="/adminhome" target="iFrame">Dashboard</a></li>
                <li><a href="/adminhome/modarator" target="iFrame">Modarator List</a></li>
                <li><a href="/adminhome/addmodarator" target="iFrame">ADD Modarator</a></li>
                <li><a href="/adminhome/content" target="iFrame">Content List</a></li>
                <li><a href="/adminhome/addcontent" target="iFrame">ADD Content</a></li>
                <li><a href="/adminhome/request" target="iFrame">View Requested Content</a></li>
                <li><a href="/adminhome/profile" target="iFrame">Profile</a></li>
            </ul> 
			
            <ul>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </td>
        <td valign="top">

		
		
		
		
		
		
	<table border="1" cellpadding="5" cellspacing="0">
		<tr><td colspan="4" align="CENTER">Requested Content</td></tr>
		<tr>
			<td>ID</td><td>Request</td><td>Type</td>
		</tr>
		<% for(var i=0; i < uList.length; i++){ %>
		<tr>
			<td><%= uList[i].id %></td>
			<td><%= uList[i].name %></td>
			<td><%= uList[i].type %></td>
			
		</tr>
		<% } %>
	</table>
	
	
	
	</td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            Copyright &copy; 2019 (AIUB-ATP3)
        </td>
    </tr>
</table>
</body>
</html>