<!DOCTYPE html>
<html>
<head>
	<title>ADD Content</title>
</head>
<body>
<table width="80%" align="center" cellspacing="0" cellpadding="10" border="1">
    <tr>
        <td colspan="2" valign="middle" height="70">  
			<table width="100%">
                <tr>
                    <td>
                            <img height="48" src="/resource/logo.png">
                    </td>
                    <td align="right">
                        Logged in as <a href="/adminhome" target="iFrame"><%=name%></a>&nbsp;|
                        <a href="/logout">Logout</a>
                    </td>
                </tr>
			</table>
        </td>
    </tr>
    <tr>
	<td width="190" valign="top">
			<b>&nbsp;Admin Panel</b><hr/>
            <ul>
                <li><a href="/modaratorhome" target="iFrame">Dashboard</a></li>
                <li><a href="/modaratorhome/content" target="iFrame">Content List</a></li>
                <li><a href="/modaratorhome/addcontent" target="iFrame">ADD Content</a></li>
                <li><a href="/modaratorhome/request" target="iFrame">View Requested Content</a></li>
                <li><a href="/modaratorhome/profile" target="iFrame">Profile</a></li>
                <li><a href="/adminhome/addcontent" target="iFrame">ADD Content</a></li>
            </ul>
            <ul>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </td>
        <td valign="top">

		
		
		
		
		
		
	<fieldset>
    <legend><b>ADD Content</b></legend>
	<form method="POST">
		<br/>
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td>Name</td>
				<td>:</td>
				<td><input name="name" type="text"></td>
				<td></td>
			</tr>
			<tr><td colspan="4"><hr/></td></tr>
			<tr>
				<td>File</td>
				<td>:</td>
				<td><input name="file" type="file"></td>
				<td></td>
			</tr>
			<tr><td colspan="4"><hr/></td></tr>
			<tr>
				<td>Type</td>
				<td>:</td>
				<td><input name="type" type="text"><p>Type m->movie ,s->soft ,t->tv-series ,g->game</p></td>
				<td></td>
			</tr>			
			
		</table>
		<hr/>
		<input type="submit" name="submit" value="Send">
		<input type="reset">
	</form>
</fieldset>
	
	
	
	
	
	
	
	
	</td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            Copyright &copy; 2019 (AIUB-ATP3)
        </td>
    </tr>
</table>
</body>
</html>