<html>

<head>
    <title>Registration</title>
   
</head>
<body>
   <table width="80%" align="center" cellspacing="0" cellpadding="10" border="1">
    <tr>
        <td valign="middle" height="70">  
            <table width="100%">
                <tr>                    
                    <td>
                       
                            <img height="48" src="/resource/logo.png" />
                        </a>
                    </td>
                    <td align="right">
                        <a href="/login" target="iFrame">Login</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
    <fieldset>
        <legend><b>REGISTRATION</b></legend>
        <form method="post" >

        <table>
    
                <tr>
                    <td><label>Name</label> </td>
                    <td><input type="text" name="name" placeholder="Enter Your Name" /></td>
                </tr>

                <tr>
                    <td><label>Password</label> </td>
                    <td> <input type="password" name="password" placeholder="Enter Your Password" />
                        
                    </td>
                </tr>
                <tr>
                    <td><label>Confirm Password</label></td>
                    <td><input type="password"  placeholder="Again Enter Your Password" /></td>
                </tr>

                <tr>
                    <td><label>Email</label> </td>
                    <td><input type="text" name="email" placeholder="Enter Your Email" /></td>
                </tr>

                <tr>
                    <td><label>Type</label> </td>
                    <td><input type="text" name="type" placeholder="Enter Your Type" />
                        <p>'a' for admin 'm' for modarator 'u' for user</p>
                    </td>
                    
                </tr>

                </table>
        <hr />
        <br/>
        <input type="submit" name="submit" value="Submit">
    </form>
</fieldset>
        </td>
    </tr>
    <tr>
        <td align="center">
            Copyright &copy; 2019 (AIUB-ATP3-MD.Al Hasan Raju)
        </td>
    </tr>
</table>
</body>
</html>